@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-D_gray-DEFAUT_Dark_Blue;
}
/* Animate dice button */
@keyframes rotateAnticlockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.rotate {
  animation: rotateAnticlockwise 1s linear infinite;
}

/* change scroll bar color */
::-webkit-scrollbar {
  width: 0.45rem;
  margin-left: 2rem;
}

::-webkit-scrollbar-track {
  background: none;
  border-radius: 5rem;
}

::-webkit-scrollbar-thumb {
  background: #4ac788;
  border-radius: 5px;
}
