@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* @apply bg-D_gray-DEFAUT_Dark_Blue min-h-screen  flex flex-col justify-center; */
  @apply bg-D_gray-DEFAUT_Dark_Blue;
}

@keyframes rotateAnticlockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.rotate {
  animation: rotateAnticlockwise 1s linear infinite;
}
