@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .new-container {
    @apply bg-D_gray-Dark_grayish_blue text-center py-6 px-5 rounded-lg relative w-[93%] sm:w-[65%] sm:m-auto md:w-[55%] lg:w-[50%] xl:w-[34%] mb-6 md:mb-9;
  }

  .new-container__id {
    @apply text-D_gray-Neon_green text-sm tracking-widest md:text-lg;
  }
  .new-container__text {
    @apply text-D_gray-Ligth_cyan text-2xl my-8 mx-1 font-Manrope;
  }
  .new-container__img--container {
    /* @apply mt-5 mb-10 flex justify-center lg:hidden; */
    @apply mt-5 mb-10 flex justify-center;
  }

  .new-container__button--container {
    /* @apply absolute inset-x-2; */
    @apply absolute inset-x-2;
  }

  .new-container__button {
    @apply p-5 bg-D_gray-Neon_green rounded-full hover:bg-green-400 
     /* text-sm tracking-widest md:text-lg; */
    /* @apply p-5 bg-D_gray-Neon_green rounded-full  hover: -translate-x-0 transform transition hover:bg-green-400; */;
  }
  .new-container__delete-btn {
    @apply py-1 px-5 inline-block  font-semibold bg-gray-400 rounded hover:bg-gray-500 cursor-pointer;
  }
}
